*{
    padding: 0%;
    margin: 0%;

}
body{
    background-color: white;
    font-family: sans-serif;
    font-weight: bold;
}
header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    width: 98vw;
    height: 80px;
    font-size: 16px;
    position: fixed;
    z-index: 1;
    
}
#pinterest-icon{
    width: 35px;
    height: 35px;
    padding: 4px;
}
